//- 1. sử dụng LAYOUT = EXTENDS

extends ../layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK

    .container
        .row.mt-2
            div(class="col-3")

            //- FORM : LOGIN
            //- ACTION:
            //- METHOD: POST - lấy data = "REQUEST.BODY" / cần BODY-PARSER
            form(action='/auth/loginRequest', method='POST', class="col-6")
                //- HIỂN THỊ KEYSEARCH - sau khi có kết quả = "value=keyNameSearch"
                h3(class="text-center mt-2") LOGIN - FORM

                //- "VALIDATE" - nếu có lỗi thì hiển thị "MESSAGE LỖI"
                if errors
                    each err in errors
                        div(class="alert alert-danger" role="alert") #{err}

                .form-group
                    label(for='email') email
                    input.form-control(type='text', name='email', value= lastValueInput && lastValueInput.email ? lastValueInput.email : '', id='email', placeholder='Enter email')
                    br
                .form-group
                    label(for='password') password
                    input.form-control(type='text', name='password', value= lastValueInput && lastValueInput.password ? lastValueInput.password : '', id='password', placeholder='Enter password')
                    br

                div(class="d-grid gap-2")
                    button.btn.btn-primary.mt-2(type='submit') LOGIN