//- 1. sử dụng LAYOUT = EXTENDS

extends ./layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK

    h3(class="text-center mt-2") #{pageName}
    //- PUG: lấy giá trị biến = toán tử #{}
    hr