/* customStyle - css */

.imgLogo {
    width: 25px;
    margin-left: -10px;
}

.imgAvatar {
    width: 25px;
    margin: 0px 5px;
}

.navbar-brand.brandName, .loginText {
    color: #0d6efd;
    text-shadow: 1px 0px #0d6efd;
    font-weight: bold;
    /* text-decoration: underline; */
}

.currentUserNameStyle {
    color: #da251d;
    text-shadow: 1px 0px #fff500;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 0px;
}

/* product */
h5.card-title.custom {
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.card-text.custom {
    height: 100px;
    overflow: hidden;
}