//- 1. sử dụng LAYOUT = EXTENDS

extends ../layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK

    h3(class="text-center mt-2") USER_DETAILS

    .container
        .row.mt-2
            hr
            ul.pl-4
                //- DETAILS 6 - nhận dữ liệu USER và hiển thị ở VIEW
                //- PUG: lấy giá trị biến = toán tử #{}
                li 
                    span ID = 
                    b #{user._id}
                li 
                    span NAME = 
                    b #{user.name}
                li 
                    span MAIL = 
                    b #{user.email}
