//- 1. sử dụng LAYOUT = EXTENDS
extends ../layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK
    .container
        .row.mt-2
            .col-2
                h1 ListUsers
            .col-4
            .col-2
                button(class="mt-2 ml-2 btn") 
                    a(href="/users/createPage") USER-CREATE
            .col-4
                form.ml-auto(action="/users/searchRequest", method="GET" class="container")
                    div(class="row justify-content-start")
                        input(type="text", name="keyNameSearch", class="col-8 mr-2")
                        button(class="col-4 ml-2 btn btn-primary") SEARCH

        .row.mt-4
            table.table
                hr
                thead
                    tr
                    th(scope='col') ORDER
                    th(scope='col') AVATAR
                    th(scope='col') NAME
                    th(scope='col') EMAIL
                    th(scope='col') ACTION
                tbody

                    each user, key in listUsers
                        tr
                            th(scope='row') #{key + 1}
                            td 
                                img(src=user.avatar, class="imgAvatarListUser")
                            td 
                                a(href='/users/details/' + user._id, class="card-link custom") #{user.name}
                            td #{user.email}
                            td 
                                a(href='/users/details/' + user._id, class="card-link") view details
                                //- a(href='/users/' + user.id, class="card-link") viewDetails
                                span.space /
                                a(href='/users/delete/' + user._id, class="card-link") delete