html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        //- STATIC : NHÚNG FILE - STYLE CUSTOM vào LAYOUT
        link(href="/styles/customStyle.css" rel="stylesheet")
        title TUANTRAN-NODEJS-SRR
    body 

        //- MENU
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid                
                if currentUserLocal
                    //- a.navbar-brand.brandName(href='/') TUANTRAN
                    //- STATIC : sử dụng FILE ẢNH + và CLASS trong FILE STYLE
                    img(src='/images/Logo_Hust_Vertical.png', class='imgLogo')
                    //- img(src='/images/Logo_Hust_Vertical.png', width='25px')
                    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            //- HOME_PAGE
                            li.nav-item
                                a.nav-link.active(aria-current='page', href='/') 
                                    b 
                                        u HomePage
                                        
                            //- ĐĂNG NHẬP - ĐĂNG XUẤT
                                if currentUserLocal
                                    li.nav-item
                                        a.nav-link.active(aria-current='page', href='/auth/logout') Logout
                                else
                                    li.nav-item
                                        a.nav-link.active(aria-current='page', href='/auth/login') Login

                                    
                            //- QUẢN LÝ - USERS
                            li.nav-item
                                a.nav-link(href='/users') 
                                    b 
                                        u UserList
                            li.nav-item
                                a.nav-link(href='/users/searchPage') SearchUser
                            li.nav-item
                                a.nav-link(href='/users/createPage') CreateUser
                            
                                    
                            //- QUẢN LÝ - USERS
                            li.nav-item
                                a.nav-link(href='/products/all') 
                                    b 
                                        u ProductAll
                            li.nav-item
                                a.nav-link(href='/products/pagination?page=1') Pagination
                            li.nav-item
                                a.nav-link(href='/products/paginationSearch?page=1&nameKeySearch=&descriptionKeySearch=') PaginationSearch
                                //- a.nav-link(href='/products/paginationSearch') PaginationSearch
                            li.nav-item
                                a.nav-link(href='/api/allProduct') API_productList
                                    

                    //- CURRENT_USER + ĐĂNG NHẬP + ĐĂNG XUẤT

                    p.currentUserNameStyle #{currentUserLocal.name}
                    //- AVATAR - lấy trong "currentUserLocal" = "RES.LOCAL"
                    img.avatar(src=currentUserLocal.avatar, class='imgAvatar')
                    //- img.avatar(src='/images/Logo_Hust_Vertical.png', class='imgAvatar')
                    a.nav-link.active(aria-current='page', href='/auth/logout') 
                        b Logout
                else
                    a.nav-link.loginText(aria-current='page', href='/auth/register') 
                        b 
                            u Register
        //- SỬ DỤNG "BLOCK CONTENT" = thay đổi nội dung
        block content        